h1{
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.kotak{
    background: seagreen;
    color: #ffffff;
    width: 100px;
    heighta: 50px;
    margin: 10px;
    float: left;
}

#kotak{
    background: tomato;
    color: #666666;
    width: 100px;
    height: 50px;
    padding: 50px;
    margin: 10px;
    float: left;
}      } expanted